/* UI Colors */
$color-white: #FFFFFF;
//primary
$color-primary-darker: #75BD92;
$color-primary-dark: #DBF8E8;
$color-primary-light: #EEFCF4;

//warning
$color-warning-darker: #FF800D;
$color-warning-dark: #FFE4CC;
$color-warning-light: #FFF4EB;
$color-warning-font: #020881;
$color-warning-border-text: #FFAEAE;
//danger
$color-danger-darker: #D75151;
$color-danger-dark: #F8DBDB;
$color-danger-light: #FCEEEE;
//filters-list
$color-filters-day-dark: #EFF2F5;
$color-filters-day-darker: #58667E;
//filter-color-font
$color-filter-font-default: #8794AB;
$color-filter-font-default-hover: #1D7DBC;
$color-filter-font-checked: #58667E;
$color-filter-font-disabled: #D1D1D1;
$color-filter-font-shadow: #2B92D2;
